/* @theme my-theme */

:root {
    --background:rgb(25, 27, 32);
    --background-light:rgb(93, 102, 121);
    --foreground: #ffffff;
    --light-background: #ffffff;
    --accent: #ffcc00;
    --sedondary:rgb(76, 22, 114);
  }
  section {
    font-size: 1.5rem;
  }
  section { background-color: var(--background); color: var(--foreground); }
  h1,h2,h3,h4,h5 {color:var(--foreground);}
  section.boxes ul { display: flex; list-style: none; padding: 0; width: 100%; }
  section.boxes li { background-color:var(--foreground); color:var(--background); padding: 40px; margin: 10px; border-radius: 10px; flex: 1; text-align: center; }
  blockquote { color: white; }
  strong { color: var(--accent); }
  header, footer {width:100%; margin:0 auto; color:var(--background-light)}
  section.activity { background: var(--accent); color:var(--background)}
  section.activity h1,section.activity h2, section.activity h3, section.activity h4, section.activity h5 { color: var(--background) }
  section.activity footer { display: none; }
  section.activity blockquote {display:inline-block; border: 4px solid black; color: white; border-radius: 10px; 
  background-color:var(--background)}
  section.activity a {
      color: var(--background);
      text-decoration: underline;
      font-weight: bold;
  }
  section.demo { background: var(--sedondary); color:var(--foreground)}
  section.demo h1,section.demo h2, section.demo h3, section.demo h4, section.demo h5 { color: var(--foreground) }
  section.demo footer { display: none; }
  section.demo blockquote {display:inline-block; color: var(--sedondary); border-radius: 10px; background-color: var(--foreground)}
  section.light { background-color: var(--light-background); color: var(--background); }
  section.light h1, section.light h2, section.light h3, section.light h4, section.light h5 { color: var(--background); }
  section.grraph pre {
      background-color: #ffffff;
      color: var(--background);
      padding: 10px;
      border-radius: 5px;
      overflow-x: auto;
  }